<div id="list-table">
	<table>
		<thead>
			<tr>
				<th colspan="1">Caption</th>
				<th colspan="3">Picture</th>
				<th colspan="3">Date</th>
			</tr>
		</thead>

		<tbody>
			<% @result.each do |post| %>
				<tr>
					<td><%= sanitize post["caption"] %></td>
					<td><%= image_tag post["photos"][0]["alt_sizes"][0]["url"], width: "250px" %></td>
					<td><%= post["date"] %></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>



<!-- 
CAPTION:
<%= sanitize @caption %>
<br>
TYPE:
<%= @type %>
<br>
IMAGE:
<%= @image %>

 -->

<!-- 
<br><br> RESULT:
<%= @result %> -->